#container{
    margin     : auto;
    height: 600px;
    width: 601px;
}

#gamestatus{
    color : red;
}

/* DIES STYLES */

div.die{
	width:50px;
	height:50px;
	background-color:#eeeeee;
	-webkit-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);
	box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;border-radius:5px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	position:absolute;
	top:420px;
	cursor:pointer;
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	opacity:0.5;
	visibility: hidden;
}

#die3 {width: 40px; height: 40px; top:400px;}
#die4 {width: 40px; height: 40px; top:400px;}

	div.die.active{-webkit-opacity:1;-moz-opacity:1;opacity:1;}
	div.die#die1{left:50%;}
	div.die#die2{left:58%;}
	div.die[data-value="1"] div.face[data-id="1"]{display:block;}
	div.die[data-value="2"] div.face[data-id="2"]{display:block;}
	div.die[data-value="3"] div.face[data-id="3"]{display:block;}
	div.die[data-value="4"] div.face[data-id="4"]{display:block;}
	div.die[data-value="5"] div.face[data-id="5"]{display:block;}
	div.die[data-value="6"] div.face[data-id="6"]{display:block;}
	div.die div.face{display:none;}
	div.die div.face div.pip{
		width:10px; height:10px; background-color:#222222;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		-moz-background-clip: padding;
		-webkit-background-clip:padding-box;
		background-clip:padding-box;
		position:absolute;
	}
	div.die div.face div.pip.left{left:7.5px;}
	div.die div.face div.pip.center{left:20px;}
	div.die div.face div.pip.right{right:7.5px;}
	div.die div.face div.pip.top{top:7.5px;}
	div.die div.face div.pip.middle{top:20px;}
	div.die div.face div.pip.bottom{bottom:7.5px;}
	
	#die3 .pip , #die4 .pip{width: 5px; height: 5px;}


#outbody{
    height: 50px;
    width: 600px;
    margin: auto;
    background: #fff;
  }

#outwhite , #outblack{
  width:100%;
  height:50%;
}

#outwhite img , #outblack img{
	height: 25px;
	float: left;
}


/* .dice {
    float: left;
    width: 40px;
    height: 40px;
    position: absolute;
    box-shadow: 0 0 10px rgba(125,90,57,0.5);
    background: #fff url('../images/dice.png');
    z-index: 999;
    visibility: hidden;
}
    .d1{}
    .d2{}*/
    

.ui_button{
	font-weight: normal;
	color: #555555;
	background: #e6e6e6;
}

.ui_button{border: 1px solid #999999; background: #dadada}